<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <form [formGroup]="form" (ngSubmit)="onsubmit()">
      <div class="form-group" *ngIf="loginmode">
        <label for="username" >Username</label>
        <input class="form-control" type="text" name="username" formControlName="username" />
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" type="email" name="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="username">Password</label>
        <input class="form-control" type="password" name="password"  formControlName="password"/>
      </div>
      <p *ngIf="error" class="text-danger bg-dark" style="margin-top: 5px;">{{error}}</p>

      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button><!--Add type as button to stop submit trigger-->
      |<button class="btn btn-secondary"type="button" (click)="onSwitch()">Switch to {{!loginmode?"Signup": "Login"}}</button>
    </form>
  </div>
  </div>
  
