.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
}
h1{
    margin: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: white
}